doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons", type='text/css')
    link(rel='stylesheet', href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css", type='text/css')
    script(defer src="https://code.getmdl.io/1.3.0/material.min.js")
  body
    script(type="text/html" id="grid-template")
      include themes/mdl/grid.jade
    include themes/mdl/cell.jade
    script(type="text/html" id="table-template")
      include themes/mdl/table.jade
    script(type="text/html" id="div-template")
      include themes/mdl/div.jade
    script(type="text/html" id="span-template")
      include themes/mdl/span.jade
    script(type="text/html" id="card-template")
      include themes/mdl/card.jade
    script(type="text/html" id="spinner-template")
      include themes/mdl/spinner.jade
    script(type="text/html" id="progress-template")
      include themes/mdl/progress.jade
    script(type="text/html" id="thumbnail-template")
      include themes/mdl/thumbnail.jade
    script(type="text/html" id="tabs-template")
      include themes/mdl/tabs.jade
    script(type="text/html" id="button-template")
      include themes/mdl/button.jade
    script(type="text/html" id="button-floating-template")
      include themes/mdl/button-floating.jade
    script(type="text/html" id="button-icon-template")
      include themes/mdl/button-icon.jade
    script(type="text/html" id="textfield-template")
      include themes/mdl/textfield.jade
    script(type="text/html" id="textfield-masked-template")
      include themes/mdl/textfield-masked.jade
    script(type="text/html" id="textfield-expandable-template")
      include themes/mdl/textfield-expandable.jade
    script(type="text/html" id="textarea-template")
      include themes/mdl/textarea.jade
    script(type="text/html" id="checkbox-template")
      include themes/mdl/checkbox.jade
    script(type="text/html" id="switch-template")
      include themes/mdl/switch.jade
    script(type="text/html" id="icon-toggle-template")
      include themes/mdl/icon-toggle.jade
    script(type="text/html" id="radio-template")
      include themes/mdl/radio.jade
    script(type="text/html" id="slider-template")
      include themes/mdl/slider.jade
    script(type="text/html" id="link-template")
      include themes/mdl/link.jade
    script(type="text/html" id="badge-template")
      include themes/mdl/badge.jade
    script(type="text/html" id="badge-icon-template")
      include themes/mdl/badge-icon.jade
    script(type="text/html" id="icon-template")
      include themes/mdl/icon.jade
    script(type="text/html" id="text-template")
      include themes/mdl/text.jade
    script(type="text/html" id="html-template")
      include themes/mdl/html.jade
    script(type="text/html" id="pre-template")
      include themes/mdl/pre.jade
    block content
